<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./images/logo.png" rel="shortcut icon">
    <script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app" class="flex justify-center align-center">
        <div>
            <div class="m">登录</div>
            <div class="m">
                账号：<input type="text" v-model="name">
            </div>
            <div class="m">
                密码：<input type="password" v-model="password">
            </div>
            <div>
                <button class="m" @click="login">登录</button>
                <button class="m" @click="register"> 注册</button>
            </div>
        </div>

    </div>
</body>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            name: '',
            password: ""
        },
        mounted() {

        },
        methods: {
            login() {
                alert(1)
            },
            register() {
                window.location.href = "/register.html"
            }
        }

    })
</script>

</html>