<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./images/logo.png" rel="shortcut icon">
    <script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app" class="flex justify-center align-center">
        <div>
            <div class="m">注册：</div>
            <div class="m">
                邮箱：<input type="text" v-model="address">
            </div>
            <div></div>
            <div class="m">
                密码：<input type="password" v-model="password">
            </div>
            <div class="m">
                验证：<input type="text" v-model="code">
            </div>
            <div class="m">
                <button @click="login">登录</button>
                <button @click="register"> 注册</button>
                <button @click="getCode">获取验证码</button>
            </div>
        </div>
    </div>
</body>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            address: '',
            password: "",
            code: ''
        },
        mounted() {},
        methods: {
            getCode() {
                axios({
                    url: '/user/getCode',
                    method: 'post',
                    data: {
                        address: this.address
                    }
                }).then((result) => {

                }).catch((err) => {

                });
            },
            login() {
                window.location.href = "/login.html"
            },
            register() {
                axios({
                    url: '/user/register',
                    method: 'post',
                    data: {
                        name: this.name,
                        password: this.password,
                        code: this.code
                    }
                }).then(({
                    data
                }) => {

                }).catch((err) => {

                });
            }
        }
    })
</script>

</html>