.flex {
	display: -webkit-flex;
	/* Safari */
	display: flex;
	flex-direction: row;
}

.flex-inline {
	display: -webkit-inline-flex;
	/* Safari */
	display: inline-flex;
}

.flex-column {
	display: -webkit-flex;
	/* Safari */
	display: flex;
	flex-direction: column;
}

.justify-start {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-stretch {
	align-items: stretch;
}

.fill-residue {
	flex-grow: 1;
}
